In [3]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_e07643f979704dc7ae0b561628bc4b4c = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='162CZ_hpRjRhQuakog2karuAqCKpF81CV5UYbiaUg7he',
    ibm_auth_endpoint="https://iam.eu-gb.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

body = client_e07643f979704dc7ae0b561628bc4b4c.get_object(Bucket='mlproject-donotdelete-pr-afo71f98fyoicb',Key='covid_19_clean_complete.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

data = pd.read_csv(body)

In [4]:
data.shape

(20097, 8)

In [5]:
data.tail()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
20092,Falkland Islands (Malvinas),United Kingdom,-51.79630,-59.523600,4/7/20,2,0,0
20093,Saint Pierre and Miquelon,France,46.88520,-56.315900,4/7/20,1,0,0
20094,NaN,South Sudan,6.87700,31.307000,4/7/20,2,0,0
20095,NaN,Western Sahara,24.21550,-12.885800,4/7/20,4,0,0
20096,NaN,Sao Tome and Principe,0.18636,6.613081,4/7/20,4,0,0

In [12]:
re_data=data.groupby('Date').sum()
re_data.head()

                Lat         Long  Confirmed  Deaths  Recovered
Date
1/22/20  5600.04289  5872.157373        555      17         28
1/23/20  5600.04289  5872.157373        654      18         30
1/24/20  5600.04289  5872.157373        941      26         36
1/25/20  5600.04289  5872.157373       1434      42         39
1/26/20  5600.04289  5872.157373       2118      56         52